<app-navbar></app-navbar>
<div class="principal">

<form class="form" [formGroup]="CrearActualizarFormulario" (ngSubmit)="Guardar()">
  <div class="p-fluid">
    <div class="p-field-name">
      <label class="text" for="nombre">Nombre</label>
      <input id="nombre" pInputText formControlName="nombre" />
    </div>

    <div class="p-field-tipo">
      <label for="tipo">Tipo</label>
      <p-dropdown id="tipo" formControlName="tipo" [options]="tipos" optionLabel="name" placeholder="Seleccione un tipo"></p-dropdown>
    </div>

    <div class="p-field">
      <label class="url" for="url">URL</label>
      <input class="url" id="url" pInputText formControlName="url" />
    </div>
    
    <div class="p-field">
      <label for="nivel">Nivel</label>
      <input class="stat" id="nivel" pInputText formControlName="nivel" type="number" />
    </div>
    

    <div class="p-field">
      <label class="text" for="puntos_de_salud">HP</label>
      <input class="stat" id="puntos_de_salud" pInputText formControlName="puntos_de_salud" type="number" />
    </div>

    <div class="p-field">
      <label class="text" for="ataque">Ataque</label>
      <input class="stat" id="ataque" pInputText formControlName="ataque" type="number" />
    </div>

    <div class="p-field">
      <label class="text" for="defensa">Defensa</label>
      <input class="stat" id="defensa" pInputText formControlName="defensa" type="number" />
    </div>

    <div class="p-field">
      <label class="text" for="velocidad">Velocidad</label>
      <input class="stat" id="velocidad" pInputText formControlName="velocidad" type="number" />
    </div>

    

    <button class="btn" class="btn" pButton type="submit" label="Guardar"></button>
  </div>
</form>
</div>
