.principal{
    padding: 20px;
}
.text{
    margin-bottom: 16px;
    
}
.form{
    flex-wrap: wrap;
}
.p-field{
    margin: 12px;
}
.p-field-name{
    width: 40%;
}

.p-field-tipo{
    width: 40%;
}

.url{
    width: 100%;
}

.stat{
    width: 20%;
}

.btn{
    margin: 12px;
    width: 100px;
}
